<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154654685348-eo4vcqpl27aaligpjpec4vlp4idt8o60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154654685348-eo4vcqpl27aaligpjpec4vlp4idt8o60</string>
	<key>API_KEY</key>
	<string>AIzaSyAm61i2Bdz0DtcXgojDg8X7WzuKvLn33nw</string>
	<key>GCM_SENDER_ID</key>
	<string>154654685348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>app3-e4025</string>
	<key>STORAGE_BUCKET</key>
	<string>app3-e4025.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154654685348:ios:e84d85cca46ae5193d4e31</string>
</dict>
</plist>